<!DOCTYPE html>
html(lang="en")
head
  title ККЛК/Калининград
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
.wrapper
  header
    .main-logo
      img(src="assets/img/icon_about_us-01.png")
    .main-label
      p Калининградский Клуб Любителей Кошек (ККЛК)

  nav
    li(class='active'): a Главная
    li: a Объявления
    li: a События
    li: a О нас
    li: a Вход
    li: a Регистрация

  .content
    section(class="left")

    section(class="right")

  footer
    p Калининградский клуб любителей кошек (ККЛК) &copy; 2016   тел.: 8-911-123-34-45
    

  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")