.content
  min-height: 680px
  background-color: $white
  margin-bottom: 20px
  padding: 20px
  @include outer-container
  max-width: 960px
  position: relative
  z-index: 100
  box-shadow: 0px 0px 20px 0px rgba(138, 104, 14, 0.15)  

  .left    
    padding-right: 20px
    @include span-columns(9)

    #catsCarousel
      .carousel-indicators
        li.active
          background-color: $maingreencolor
          border-color: $maingreencolor          
      .carousel-inner
        .item
          height: 300px !important          
          img            
            width: 100%
            height: 300px            
      a.carousel-control
        width: 60px
        height: 60px
        color: $white
        text-align: center        
        padding: 0
        margin: 0
        font-size: 40px
        top: 130px
        background-image: none

    article
      display: table
      padding: 25px
      background-color: $silver
      margin-bottom: 20px

      p img
        width: 82px
        padding-right: 25px

      p
        display: table-cell
        vertical-align: middle
        font-family: Roboto;
        color:  #000000
        font-size: 14px
        font-weight: 300
        line-height: 20px
        text-align: left     
      

    .calendar
      width: 100%
      @include outer-container

      .calendar-ui
        @include span-columns(5)
      
        .calendar-label
          text-transform: uppercase
          display:table
          margin-bottom: 20px
          .label-image
            display: table-cell
            vertical-align: middle
            padding-right: 10px
            img
              width: 50px
              height: auto
          .label-text
            display: table-cell
            vertical-align: middle
            color: $activegreencolor
            font-size: 16px
            font-weight: 700  
        
          

      .eventslist
        @include span-columns(7)

        hr
          border: none
          height: 1px
          width: 60%
          color: $activegreencolor
          background-color: $activegreencolor
          margin-bottom: 15px
        
        p
          font-weight: 700
          line-height: 19px
          margin-bottom: 10px

        .eventdate          
          font-style: italic          
          color: $activegreencolor

        .eventname
          display: block
          text-decoration: none
          color: $black
          text-transform: uppercase
          margin: 15px 0
          &:hover
            text-decoration: underline       

        .eventinfo          
          color: #4d4d4d
          font-weight: 400
          margin-bottom: 40px

        a
          margin-top: 35px
          text-decoration: underline
          color: #333333
          font-weight: 700
          line-height: 20px


  .right
    @include span-columns(3)
    text-align: left
    .banner
      margin-bottom: 25px
    .ad
      margin-bottom: 25px
      a
        display: block
        font-family: Roboto
        color: #4d4d4d
        font-size: 17px
        font-weight: 700
        line-height: 20px
        text-align: left
      img
        float: left
        margin: 7px 9px 3px 0

    .ad
      p
        color: $black
        font-size: 12px
        font-weight: 300
        line-height: 17px
        margin: 7px 0

    .ad-label
      display:table
      .label-image
        display: table-cell
        vertical-align: middle        
        img
          width: 50px
          height: auto
      .label-text
        display: table-cell
        vertical-align: middle
        text-transform: uppercase
        color: $activegreencolor
        font-size: 16px
        font-weight: 700
              