.content
  min-height: 680px
  background-color: $white
  margin-bottom: 20px
  padding: 20px
  @include outer-container
  max-width: 960px
  position: relative
  z-index: 100  

  .left    
    padding-right: 20px
    @include span-columns(9)

    #catsCarousel
      .carousel-indicators
        li.active
          background-color: $maingreencolor
          border-color: $maingreencolor          
      .carousel-inner
        .item
          height: 300px !important          
          img            
            width: 100%
            height: 300px            
      a.carousel-control
        width: 60px
        height: 60px
        color: $white
        text-align: center        
        padding: 0
        margin: 0
        font-size: 40px
        top: 130px
        background-image: none

    article
      display: table
      padding: 25px
      background-color: $silver
      margin-bottom: 20px

      img, p
        display: table-cell
        vertical-align: middle
      

    .calendar
      width: 100%
      @include outer-container

      .calendar-ui
        @include span-columns(5)
      
        .calendar-label
          display:table
          margin-bottom: 20px
          .label-image
            display: table-cell
            vertical-align: middle
            padding-right: 10px
            img
              width: 50px
              height: auto
          .label-text
            display: table-cell
            vertical-align: middle
            color: $activegreencolor
            font-size: 16px
            font-weight: 700  
        
          

      .eventslist
        @include span-columns(7)

        hr
          border: none
          height: 1px
          width: 60%
          color: $activegreencolor
          background-color: $activegreencolor
          margin-bottom: 15px
        
        p
          margin-bottom: 15px

        .eventdate
          color: $activegreencolor

        .eventname
          color: $black
          font-size: 20px
          font-weight: 700

        .eventinfo
          color: $gray

        a
          text-decoration: underline
          color: $black
          font-weight: 700


  .right
    @include span-columns(3)
    text-align: left
    
    .ad
      img
        float: left
        margin: 7px 7px 7px 0

    .ad
      p
        margin: 7px 0

    .ad-label
      display:table
      .label-image
        display: table-cell
        vertical-align: middle
        padding-right: 10px
        img
          width: 50px
          height: auto
      .label-text
        display: table-cell
        vertical-align: middle
        color: $activegreencolor
        font-size: 16px
        font-weight: 700
              