.content
  min-height: 680px
  background-color: $white
  margin-bottom: 20px
  padding: 20px
  @include outer-container
  max-width: 960px
  position: relative
  z-index: 100  

  .left    
    padding-right: 20px
    @include span-columns(9)

    #catsCarousel      
      .carousel-inner
        .item
          height: 300px !important          
          img            
            width: 100%
            height: 300px            
      a.carousel-control
        color: $black

    article
      display: table
      padding: 25px
      background-color: $silver
      margin-bottom: 20px

      img, p
        display: table-cell
        vertical-align: middle
      

    .calendar
      width: 100%
      @include outer-container

      .calendar-ui
        @include span-columns(6)
      
        .calendar-label
          display:table
          .label-image
            display: table-cell
            vertical-align: middle
            padding-right: 10px
            img
              width: 50px
              height: auto
          .label-text
            display: table-cell
            vertical-align: middle
            color: $activegreencolor
            font-size: 16px
            font-weight: 700
          
        .events-calendar

      .eventslist
        @include span-columns(6)

        a
          text-decoration: underline
          color: $black
          font-weight: 700    

  .right
    @include span-columns(3)
    text-align: left

    .ad-label
      display:table
      .label-image
        display: table-cell
        vertical-align: middle
        padding-right: 10px
        img
          width: 50px
          height: auto
      .label-text
        display: table-cell
        vertical-align: middle
        color: $activegreencolor
        font-size: 16px
        font-weight: 700
              