header {  
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;  
  $dark-gray: #333 !default;
  $base-font-color: $maingreencolor !default;
  $comment-gutter: 1.4em;
  $comment-image-padding: 0.7em;
  $comment-image-width: 4em;
  $comment-color: $base-font-color;
   
  $comment-image-vert-alignment: middle;

  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 25px;
  width: 500px;
  margin: 0 auto;

  .main-logo,
  .main-label {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .main-logo {
    padding-right: $comment-gutter;

    > img {
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      padding: $comment-image-padding;
      width: $comment-image-width;
    }    
  }

  .main-label {
    width: 100%;
    h1 {
      font-size: 20px;
      font-weight: 700;
      color: #736357;
      line-height: 14px;
      margin: 0;
    }
  }
}