@charset "UTF-8";

/// Provides an easy way to include a clearfix for containing floats.
///
///
/// @example scss - Usage
///   .element {
///     @include kklk-label;
///   }
///
/// @example css - CSS Output
///   .element {
///     
///   }

@mixin kklk-label {
  .calendar-label {
    display: table;
    width: 100%;

    .label-image, 
    .label-text {
      display: table-cell;
      vertical-align: middle;
    }
    .label-image {
      padding-right: 10px;
      img {
        width: 30px;
        display: block;
        height: auto;
        max-width: none;
      }
    }

  }    
}