nav
  background: $maingreencolor
  display: block
  overflow: hidden
  width: 100%
  z-index: 9999
  list-style: none
  height: 40px

  li
    display: inline-block
    min-height: 100%
    
    a
      line-height: 40px

  li.active
    background: $activegreencolor

